// theme colors
$primary: #0ea5e9;
$primary-light: #e7eff8;
$secondary: #ebe144;
$darkGray: #3c3c3c;
$white: #ffffff;


// media brakepoints
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;







// test bgs
.bg1{
  background-color: #10b981;
}

.bg2{
  background-color: #0ea5e9;
}

.bg3{
  background-color: #facc15;
}